.button {
  @include font(14, 24);
  @include not-hover;
  display: inline-block;
  min-width: 235px;
  padding: 12px 20px;
  border: 1px solid $bright-blue;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: $text-blue;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;

  &:hover,
  &:focus {
    @include hover;
    background-color: $bright-blue;
    color: #ffffff;
  }

  &--blue {
    background-color: $bright-blue;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ffffff;
      color: $text-blue;
    }
  }

}
