$light-blue: #f3f6f9;
$blue: #d6ebff;
$bright-blue: #009aff;
$dark-gray: #303a4b;
$text-blue: #3399ff;
$light-gray: #dbe4ee;
$gray: #6c717b;

$style-change-duration: 0.3s;

$desktop-width: 1170px; /*1170-1920 px*/
$desktop-min-width: 1024px; /* 1024-1279 рх */
$tablet-width: 768px; /* 768-1023 рх */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
